! ===================
!       urxvt
! ===================
 
URxvt*scrollBar:            false
URxvt*scrollBar_right:      false
!URxvt*scrollBar_floating:   true
URxvt*letterSpace:          0
URxvt*lineSpace:            0
URxvt.internalBorder:       10
URxvt*font:                 xft:DejaVu Sans Mono:regular:size=10
URxvt*boldFont:             xft:DejaVu Sans Mono:bold:size=10
URxvt*cursorBlink:          true
URxvt.iso14755:             false
URxvt*utf8:                 true
URxvt*urgentOnBell:         true

URxvt*inheritPixmap:         true
URxvt*transparent:          true
!URxvt*depth:                24 
URxvt*shading:         20
!URxvt*tintColor:    black

!URxvt.blurRadius:      0
!URxvt.background:      #d3d3d3
!URxvt.foreground:      #1d1f21

!URxvt.keysym.C-equal:       resize-font:bigger
!URxvt.keysym.C-parenright:  resize-font:smaller
! 
!URxvt.perl-ext-common:  default,matcher
!!URxvt.url-launcher:     firefox
!URxvt.matcher.button:   3



! special
*.foreground: #93a1a1
*.background: #141c21
*.cursorColor: #afbfbf

! black
*.color0: #263640
*.color8: #4a697d

! red
*.color1: #d12f2c
*.color9: #fa3935

! green
*.color2: #819400
*.color10: #a4bd00

! yellow
*.color3: #b08500
*.color11: #d9a400

! blue
*.color4: #2587cc
*.color12: #2ca2f5

! magenta
*.color5: #696ebf
*.color13: #8086e8

! cyan
*.color6: #289c93
*.color14: #33c5ba

! white
*.color7: #bfbaac
*.color15: #fdf6e3
